{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration admin </title> 
  
  {% block content %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/adminreg.css' %}">
     
  {% endblock content %}

     

   </head>
<body > 
  <button id="backhome"><a href="{% url 'homepage' %}">Back to home</a></button>
  <div class="wrapper">
    <h2 > Admin Registration Form</h2>
   
    <form action="{% url 'adminreginsert' %}" method="POST" >
      {% csrf_token %}
      <h3 style="color:red">{{msg1}}</h3>
      <div class="input-box">
        <input type="text" placeholder="Enter your name"   name="aname" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" name="aemail" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" name="apswd" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" name="apswdd" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">  
      </div>
      <div class="text">
        
        <h3>Already have an account? <a href="{% url 'adminlogin' %}">Login now</a></h3>
        <h3 style="color:red">{{msg}}</h3>
      </div>
    </form>
  </div>
</body>
</html>


