
body{

    background-image: url(../image/img9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#backhome{
    font-size: 15px;
    padding: 5px;

    border-radius: 5px;
}
.wrapper h2{
    font-size: 35px;
    padding: 20px;
}
.input-box input{
    padding: 15px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 15px;
}
.input-box{
    font-size: 30px;
}
.wrapper{
    height: 600px;
    width: 550px;
    border-radius: 20px;
    background-color: hsla(216, 15%, 94%, 0.807);
    text-align: center;
    margin-top: 30px;
}
/* display */


