body{
    margin: 0%;padding: 0%;
    background-image: url(../image/bg13.jpg);
    
    
}
form{
    color: aliceblue;
}

.sign-up-text a{
    color: rgb(98, 63, 202);
}

.adminlogin{
    width: 500px;
    font-size: 20px;
    color: aliceblue;
    height: 500px;
    padding: 30px;
    float: right;
margin-right: 100px;
    margin-top: 60px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(2, 10, 0, 0.668);
}
.adminlogin h1{
    font: optional;
}
.inputbox{
    padding: 10px;
    width: 250px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.inputbox1{
    padding: 10px;
    width: 250px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.inputbutton input{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin-top: 20px;
    color: rgb(28, 3, 3);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(101, 101, 234);
}
.homeback a{
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin: 20px 20px 20px 20px;
    color: black;


}